﻿@model onboarding_net.Models.Kurir

<form asp-action="Delete" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Data Kurir</h2>
            <hr>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Nama Kurir</label>
            <input asp-for="Name" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Address">Alamat Kurir</label>
            <input asp-for="Address" disabled  class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="GudangId" class="control-label">Gudang</label>
            <select disabled asp-for="GudangId" class="form-control">
                <option>Pilih Gudang...</option>
                @foreach (var item in ViewBag.Warehouse)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary" style="width: 150px;">Hapus</button>
        <a asp-controller="Kurir" asp-action="Index" class="btn btn-secondary" style="width: 150px;">
            Kembali
        </a>
    </div>
</form>