﻿@using ContosoUniversity
@model PaginatedList<onboarding_net.Models.Kurir>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Daftar Kurir</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Kurir" asp-action="Create" class="btn btn-primary">
                Tambah Kurir
            </a>
        </div>
    </div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <div class="input-group">
                <input type="text" class="form-control rounded" placeholder="Search" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </div>
    </form>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="text-dark text-decoration-none">Nama Kurir</a>
                </th>
                <th>
                    Alamat Kurir
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Address
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Item" asp-action="Index" asp-route-id="@obj.Id" class="btn btn-primary">Detail</a>
                            <a asp-controller="Kurir" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Kurir" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</div>