﻿@model onboarding_net.Models.Item

<form asp-action="Delete" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Hapus Data Item</h2>
            <hr>
        </div>
        <input asp-for="KurirId" hidden />
        <div class="mb-3">
            <label asp-for="Name">Nama Item</label>
            <input disabled asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Address">Alamat Item</label>
            <input disabled asp-for="Address" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label">Status</label>
            <select disabled asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()">
                <option>Select Status...</option>
            </select>
        </div>
        <br /><br />
        <button type="submit" class="btn btn-danger" style="width: 150px;">Hapus</button>
        <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width: 150px;">
            Kembali
        </a>
    </div>
</form>