﻿@model IEnumerable<Item>
@{
    ViewData["Title"] = "Item";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Daftar Item Dari Kurir</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Item" asp-action="Create" asp-route-id="@ViewBag.IdKurir" class="btn btn-primary">
                Tambah Kurir
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nama Barang
                </th>
                <th>
                    Alamat Barang
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Address
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Item" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>