﻿@model onboarding_net.Models.Warehouse

<form asp-action="Delete" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Data Gudang</h2>
            <hr>
        </div>
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name">Nama Gudang</label>
            <input disabled asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Address">Alamat Gudang</label>
            <input disabled asp-for="Address" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px;">Hapus</button>

    </div>
</form>