﻿@model onboarding_net.Models.Warehouse

<form id="formGudang" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Data Gudang</h2>
            <hr>
        </div>
        <input asp-for="Id" name="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name">Nama Gudang</label>
            <input asp-for="Name" name="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Address">Alamat Gudang</label>
            <input asp-for="Address" name="Address" class="form-control">
        </div>
        <input type="button" class="btn btn-primary" value="Simpan" onclick="post()" />

    </div>
</form>

@section scripts{
    <script type="text/javascript">

        var post = function () {
            var data = $("#formGudang").serialize();
            console.log(data)
            $.ajax({
                type: "POST",
                url: "/Warehouse/Edit",
                data: data,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (response) {
                    Swal.fire('Proses Berhasil!', response.message, 'success').then(function () {
                        window.location.reload();
                    });;
                },
                error: function () {
                    Swal.fire('Proses Gagal!', response.message, 'error');
                    console.log('Failed ');
                }
            });
        };
    </script>
}