﻿@model IEnumerable<Warehouse>
@{
    ViewData["Title"] = "Gudang";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Daftar Gudang</h2>
        </div>
        <div class="col-4">
            <a asp-controller="Warehouse" asp-action="Create" class="btn btn-primary">
                Tambah Gudang
            </a>
        </div>
        <div class="col-4">
            <a asp-controller="Warehouse" asp-action="Multiple" class="btn btn-primary">
                Tambah Gudang dan Kurir
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nama Gudang
                </th>
                <th>
                    Alamat Gudang
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Address
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Warehouse" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                            <input type="button" class="btn btn-danger" value="Hapus" onclick="post('@obj.Id')" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">

        var post = function (id) {
            var data = new Object();
            data.Id = id;
            console.log(data)
            Swal.fire({
                icon: 'warning',
                title: 'Mohon Perhatian !',
                text: 'Data yang dihapus tidak bisa dipulihkan kembali, apakah anda yakin ?',
                showCancelButton: true,
                confirmButtonText: 'Ya, hapus !',
                confirmButtonColor: '#007AFF',
                cancelButtonText: 'Tidak',
                cancelButtonColor: '#d33',
                reverseButtons: true,
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "/Warehouse/Delete",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {
                        Swal.fire('Proses Berhasil!', response.message, 'success').then(function () {
                            window.location.href = "Warehouse/Index";
                        });
                    },
                    error: function () {
                        Swal.fire('Proses Gagal!', response.message, 'error');
                        console.log('Failed ');
                    }
                });
            })
        };
    </script>
}
