﻿@model onboarding_net.Models.KurirGudang

<form asp-action="Multiple">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Tambah Data Gudang dan Kurir</h2>
            <hr>
        </div>
        <div class="mb-3">
            <label asp-for="NameGudang">Nama Gudang</label>
            <input asp-for="NameGudang" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="AddressGudang">Alamat Gudang</label>
            <input asp-for="AddressGudang" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="NameKurir">Nama Kurir</label>
            <input asp-for="NameKurir" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="AddressKurir">Alamat Kurir</label>
            <input asp-for="AddressKurir" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px;">Simpan</button>

    </div>
</form>